.container {
    display: flex;
    gap: 10px;
    width: 73%;
    margin: 40px auto;
    overflow: auto;
    white-space: nowrap;
}

.container::-webkit-scrollbar{
    display: none; 
}

.profile_box {
    display: flex;
    flex-direction: column;
    align-items: center
}

.profile_box .profile {
    width: 8em;
    border-radius: 10px;
}

.profile_box > div {
    font-size: 1cap;
}
